/* CSS Profil part */
img
{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 2px inset rgba(0,0,0 ,0.2);
	margin: auto;
	margin-bottom: 40px;
	margin-top: 50px;
	display: block;
}
.profil_color
{
	background-color: rgb(41,128,185);
}
h2[class*="text-center"]
{
	background-color: rgb(38,50,56);
	color: rgb(41,128,185);
}
a, .profil_font
{
	color: rgb(38,50,56);
}
a:hover
{
	color: rgb(38,50,56);
}
/* CSS Career part */